In [1]:
''' Q1
    Values:'hello', -87.8, 6

    Expression: *, -, /, +
'''

In [2]:
''' Q2
    String: String is datatype

    Variable: Variable is temporary memory location
'''

In [3]:
''' Q3
    String: It contais numbers as well as characters enclosed with 
    Integer: It contains only numbers
    List: It contais sequence of element
'''

In [2]:
''' Q4
    An expression is a construct made up of variables, operators, that evaluates to a single value or multiple values and provide output.
'''

' Q4\n    An expression is a construct made up of variables, operators, that evaluates to a single value or multiple values and provide output. '

In [ ]:
''' Q5
    An expression evaluates to a value, statements represent anaction or command
'''

In [3]:
# Q6
bacon = 22
bacon +1

23

In [4]:
#Q7
print('spam' + 'spamspam')
print('spam' * 3)

spamspamspam
spamspamspam

In [ ]:
''' Q8
    eggs is valid variable as it starts with character and 100 starts with numbar so in not valid
'''

In [ ]:
''' Q9
    For integere: int()
    For float: float()
    For string: str()    
'''

In [6]:
''' Q10
    Concatination can happes with same data type, in given expression dataype is not same.
    Below is the correct code
'''
#1)
'I have eaten ' + '99' + ' burritos.'
#2)
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'